<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Display - City3D</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href="{% static 'core/city3D/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'core/city3D/style.css' %}">
        <link rel="stylesheet" href="{% static 'core/buttoneffects/style.css' %}">
    </head>
    <body>
        <div class="container-fluid fixed-top header disable-selection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <audio id="music">
                            <source src="{% static 'core/city3D/music/christian_loffler_pale_skin.mp3' %}" type="audio/mpeg">
                        </audio>
                        <a href="#" class='button button2' id="play_music_button">Song of the day</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'core/city3D/jquery.min.js' %}"></script>
        <script src="{% static 'core/city3D/three.min.js' %}"></script>
        <script src="{% static 'core/city3D/constants.js' %}"></script>
        <script src="{% static 'core/city3D/bootstrap.min.js' %}"></script>
        <script src="{% static 'core/city3D/TweenMax.min.js' %}"></script>
        <script src="{% static 'core/city3D/script.js' %}"></script>
        <script src="{% static 'core/city3D/music/script.js' %}"></script>
        <script src="{% static 'core/mqtt/mqtt.min.js' %}"></script>
        <script src="{% static 'core/mqtt/music_button/script.js' %}"></script>
    </body>
</html>