django==3.1.5
gunicorn
psycopg2-binary
Pillow
django-ckeditor==5.4.0
pandas
folium
social-auth-app-django
ipython
requests
bs4
lxml
redis
sqlalchemy
celery
celery[redis]
django-celery-results
django-celery-beat
flower
django-import-export
paho-mqtt
spotipy