{% extends 'celery_tasks/includes/celerytasks_menu.html' %}
{% load static %}
{% block title %}LikeTrading{% endblock %}
{% block content %}
<div class="item">
    <div class="item-bg">
        <img src="{% static 'celery_tasks/celerytasks_menu/assets/images/hackernews_banner.jpg' %}" class="blur opacity-3">
    </div>
    <div class="p-a-md">
        <div class="row m-t">
            <div class="col-sm-7">
                <a href="" class="pull-left m-r-md">
                    <span class="avatar w-96">
                        <img src="{% static 'celery_tasks/celerytasks_menu/assets/images/hackernews_logo.jpg' %}">
                    </span>
                </a>
                <div class="clear m-b">
                    <h3 class="m-0 m-b-xs">LikeTrading</h3>
                    <p class="text-muted">
                        <span class="m-r">Like trading collector project</span>
                        <br>
                        <small><i class="fa fa-user"></i> Jorge Montiel M.</small>
                        <br>
                        <small><i class="fa fa-user"></i> Cristian Espinoza.</small>
                    </p>
                    <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                    </div>
                    <a href="" class="btn btn-sm warn btn-rounded m-b">Go to Official Website</a>
                </div>
            </div>
            <div class="col-sm-5">
                <p class="text-md profile-status">This project finds count the likes for wall street actions and others...</p>
                <button class="btn btn-sm white" data-toggle="collapse" data-target="#editor">Edit</button>
                <div class="collapse box m-t-sm" id="editor">
                    <textarea class="form-control no-border" rows="2" placeholder="Type something..."></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}