{% extends 'core/base.html' %}
{% load static %}
{% block title %}About Menu{% endblock %}
{% block content %}

<!-- AboutSelector -->
<hr class="divider-d">
<section class="module">
    <div class="container">
        <div class="row">  
            <div class="col-sm-6 col-sm-offset-3">
                <h4 class="font-alt mb-0">About Selection</h4>
                <hr class="divider-w mt-10 mb-20">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#information" aria-expanded="true" class="collapsed">Info</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="information" aria-expanded="true" style="height: 0px;">
                            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.<br><br>
                            <a class="btn btn-b btn-circle" href="{% url 'info' %}">Go to Info</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#services" aria-expanded="false">Services</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="services" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.<br><br>
                            <a class="btn btn-b btn-circle" href="{% url 'services' %}">Go to Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#contact" aria-expanded="false">Contact</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="contact" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.<br><br>
                            <a class="btn btn-b btn-circle" href="{% url 'contact' %}">Go to Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FinalDivisor -->
<hr class="divider-d">
{% endblock %}