{% extends 'core/base.html' %}
{% load static %}
{% block title %}Projects Menu{% endblock %}
{% block content %}

<!-- ProjectsSelector -->
<hr class="divider-d">
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="font-alt mb-0">Project Categories</h4>
                <div role="tabpanel">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                        <!--li class="active"><a href="#category_iot" data-toggle="tab" aria-expanded="false"><span class="fa fa-connectdevelop fa-lg"></span> IoT</a></li-->
                        <li class="active"><a href="#category_hackernews" data-toggle="tab" aria-expanded="true"><span class="fa fa-hacker-news fa-lg"></span> Hackernews</a></li>
                        <li class=""><a href="#category_spotify" data-toggle="tab" aria-expanded="true"><span class="fa fa-spotify fa-lg"></span> Spotify</a></li>
                        <!--li class=""><a href="#category_webdev" data-toggle="tab" aria-expanded="true"><span class="icon-laptop"></span> Web-Dev</a></li>
                        <li class=""><a href="#category_3d" data-toggle="tab" aria-expanded="true"><span class="icon-tools"></span> 3D World</a></li>
                        <li class=""><a href="#category_others" data-toggle="tab" aria-expanded="true"><span class="icon-beaker"></span> Others</a></li-->
                    </ul>
                    <div class="tab-content">
                        <!--div class="tab-pane active" id="category_iot">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h4 class="font-alt mb-0">Items</h4>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title font-alt" style="text-transform:none;">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#category_iot_intro" aria-expanded="false" class="collapsed">Introduction to IoT</a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="category_iot_intro" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title font-alt" style="text-transform:none;">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#category_iot_rtpanel" aria-expanded="false" class="collapsed">Real-Time Panel</a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" id="category_iot_rtpanel" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                        <div class="tab-pane active" id="category_hackernews">
                            This is the "Hackernews timeline news", it's a timeline to show hackersnews publications extracted from the official web portal, it's possible to capture these news thanks to a "Scraper" built in bs4 library for Python, it runs every three hours every day (thanks to celery library for Python), extracts the latest news published and accumulates them in a postgres database incrementally (leaving only unique news and avoiding duplicates) using django's ORM.<br><br>
                            <a id="to_hackernews_from_projectsmenu" class="btn btn-b btn-circle" href="{% url 'hackernewsdashboard_display' %}" onclick='addTmpUserToLink("to_hackernews_from_projectsmenu")'><i class="fa fa-hacker-news"></i> Go to Hackernews Project</a>
                        </div>
                        <div class="tab-pane" id="category_spotify">
                            This is the "Spotify search engine", it's possible get songs titles, albums, artists and playlists. This thanks to spotify api wrapped in "spotipy" library built in Python, the queries are a combination of keywords and a predefined filter (track, artist, album or playlist).<br><br>
                            <a id="to_spotify_from_projectsmenu" class="btn btn-b btn-circle" href="{% url 'spotifysearch_display' %}" onclick='addTmpUserToLink("to_spotify_from_projectsmenu")'><i class="fa fa-spotify"></i> Go to Spotify Project</a>
                        </div>
                        <!--div class="tab-pane" id="category_webdev">
                            To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                        </div>
                        <div class="tab-pane" id="category_3d">
                            To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                        </div>
                        <div class="tab-pane" id="category_others">
                            To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FinalDivisor -->
<hr class="divider-d">
{% endblock %}