<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Display - Timeline</title>
		{% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'core/timeline/css.css' %}">
		<link rel="stylesheet" href="{% static 'core/timeline/normalize.min.css' %}">
		<link rel="stylesheet" href="{% static 'core/timeline/style.css' %}">
	</head>
	<body>
		<!-- partial:index.partial.html -->
		<div class="content">
			<h1>Jorge Montiel Montiel</h1>
			<div class="quote">
				<div class="logo" data-background="{% static 'core/timeline/picture/timeline_picture.jpg' %}"></div>
			</div>
			<div class="timeline">
				<div style="padding-bottom:100px;"></div>
				<div class="block">
					<div class="date right"><p class="right">14 March 1879</p></div>
					<div class="dot"></div>
					<div class="left first">
						<h1>Early life and education</h1><hr>
						<p>Albert Einstein was born in Ulm, in the Kingdom of Württemberg in the German Empire on 14 March 1879.His parents were Hermann Einstein, a salesman and engineer, and Pauline Koch. In 1880, the family moved to Munich, where Einstein's father and his uncle
							Jakob founded Elektrotechnische Fabrik J. Einstein & Cie, a company that manufactured electrical equipment based on direct current</p><br>
						<p>Near the beginning of his career, Einstein thought that Newtonian mechanics was no longer enough to reconcile the laws of classical mechanics with the laws of the electromagnetic field. This led to the development of his special theory of relativity.
							He realized, however, that the principle of relativity could also be extended to gravitational fields, and with his subsequent theory of gravitation in 1916, he published a paper on general relativity. He continued to deal with problems of statistical
							mechanics and quantum theory, which led to his explanations of particle theory and the motion of molecules. He also investigated the thermal properties of light which laid the foundation of the photon theory of light.</p>
						<br>
						<p>In 1895, at the age of 16, Einstein sat the entrance examinations for the Swiss Federal Polytechnic in Zürich (later the Eidgenössische Technische Hochschule, ETH). He failed to reach the required standard in the general part of the examination, but obtained
							exceptional grades in physics and mathematics. On the advice of the principal of the Polytechnic, he attended the Argovian cantonal school (gymnasium) in Aarau, Switzerland, in 1895–96 to complete his secondary schooling.</p>
						<a href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Read more</a>
					</div>
				</div>
				<div class="block">
					<div class="date left"><p class="left">30 April 1905</p></div>
					<div class="dot"></div>
					<div class="right hide">
						<h1>Academic career</h1><hr>
						<p>On 30 April 1905, Einstein completed his thesis,with Alfred Kleiner, Professor of Experimental Physics, serving as pro-forma advisor. As a result, Einstein was awarded a PhD by the University of Zürich, with his dissertation entitled, "A New Determination
							of Molecular Dimensions.That same year, which has been called Einstein's annus mirabilis (miracle year), he published four groundbreaking papers, on the photoelectric effect, Brownian motion, special relativity, and the equivalence of mass and energy,
							which were to bring him to the notice of the academic world, at the age of 26.</p>
						<br>
						<p>By 1908, he was recognized as a leading scientist and was appointed lecturer at the University of Bern. The following year, after giving a lecture on electrodynamics and the relativity principle at the University of Zürich, Alfred Kleiner recommended
							him to the faculty for a newly created professorship in theoretical physics. Einstein was appointed associate professor in 1909</p>
						<br>
						<p>In 1914, he returned to the German Empire after being appointed director of the Kaiser Wilhelm Institute for Physics (1914–1932) and a professor at the Humboldt University of Berlin, but freed from most teaching obligations. He soon became a member of
							the Prussian Academy of Sciences, and in 1916 was appointed president of the German Physical Society (1916–1918).</p>
						<a href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Read more</a>
					</div>
				</div>
				<div class="block">
					<div class="date right"><p class="right">2 April 1921</p></div>
					<div class="dot"></div>
					<div class="left hide">
						<h1>Travels abroad</h1><hr>
						<p>Einstein visited New York City for the first time on 2 April 1921, where he received an official welcome by Mayor John Francis Hylan, followed by three weeks of lectures and receptions. He went on to deliver several lectures at Columbia University
							and Princeton University, and in Washington he accompanied representatives of the National Academy of Science on a visit to the White House. On his return to Europe he was the guest of the British statesman and philosopher Viscount Haldane in London,
							where he met several renowned scientific, intellectual and political figures, and delivered a lecture at King's College London.</p>
						<br><p>In 1922, his travels took him to Asia and later to Palestine, as part of a six-month excursion and speaking tour, as he visited Singapore, Ceylon and Japan, where he gave a series of lectures to thousands of Japanese. After his first public lecture,
							he met the emperor and empress at the Imperial Palace, where thousands came to watch. In a letter to his sons, he described his impression of the Japanese as being modest, intelligent, considerate, and having a true feel for art.</p>

						<a href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Read more</a>
					</div>
				</div>
				<div class="block">
					<div class="date left"><p class="left">February 1933</p></div>
					<div class="dot"></div>
					<div class="right hide">
						<h1>Travel to the U.S.</h1><hr>
						<p>In February 1933 while on a visit to the United States, Einstein knew he could not return to Germany with the rise to power of the Nazis under Germany's new chancellor, Adolf Hitler. While at American universities in early 1933, he undertook his third
							two-month visiting professorship at the California Institute of Technology in Pasadena. He and his wife Elsa returned to Belgium by ship in March, and during the trip they learned that their cottage was raided by the Nazis and his personal sailboat
							confiscated. Upon landing in Antwerp on 28 March, he immediately went to the German consulate and turned in his passport, formally renouncing his German citizenship. A few years later, the Nazis sold his boat and turned his cottage into a Hitler
							Youth camp.</p>
						<br>
						<p>After arriving in New York City, Einstein was taken to various places and events, including Chinatown, a lunch with the editors of the New York Times, and a performance of Carmen at the Metropolitan Opera, where he was cheered by the audience on his
							arrival. During the days following, he was given the keys to the city by Mayor Jimmy Walker and met the president of Columbia University, who described Einstein as "the ruling monarch of the mind." Harry Emerson Fosdick, pastor at New York's Riverside
							Church, gave Einstein a tour of the church and showed him a full-size statue that the church made of Einstein, standing at the entrance. Also during his stay in New York, he joined a crowd of 15,000 people at Madison Square Garden during a Hanukkah
							celebration.</p>
						<a href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Read more</a>
					</div>
				</div>
				<div style="padding-bottom:100px;"></div>
			</div>
			<div id="footer">
				<p id="copyright">To the present&nbsp;<br>
					<strong>
						<a href="https://www.instagram.com/jorge_montiel_montiel/?hl=es-la" target="_blank">Jorge Montiel Montiel</a>
					</strong>
				</p>
			</div>
		</div>
		<!-- partial -->
		<script src="{% static 'core/timeline/jquery.min.js' %}"></script>
		<script src="{% static 'core/timeline/script.js' %}"></script>
	</body>
</html>