{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Company Admin Details{% endblock %}
{% block content %}
<div class="padding">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h2><b style="color:#6887ff;">{{ company.businessName }} company details</b></h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="form-group row has-success">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    {% if company.logoLink %}
                                        <img src="{{company.logoLink.url}}" class="img-fluid" style="border-radius: 10%;border: 3px solid #f0ad4e;" width="250" height="250">
                                    {% else %}
                                        <img src="{% static 'registration/img/no-logo-company.png' %}" class="img-fluid" style="border-radius: 10%;border: 3px solid #f0ad4e;" width="250" height="250">
                                    {% endif %}
                                </div>
                                <p style="color:#5cb85c;"><b>Blocked fields:</b></p>
                                <input type="email" value="Profile ID: {{company.profile.id}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Profile User ID: {{company.profile.user.id}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Profile User Email: {{company.profile.user.email}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Profile User Name: {{company.profile.user.username}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company ID: {{company.id}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Business Name: {{company.businessName}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Rut: {{company.rut}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Address: {{company.address}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Number: {{company.number}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Office: {{company.office}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Country: {{company.country}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Postal Code: {{company.postalCode}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Phone: {{company.phone}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Email: {{company.email}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Last Update: {{company.updated.date}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                <input type="email" value="Company Created: {{company.created.date}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <br>
                        <div class="col-md-12">
                            <a href="{% url 'iotmodule_companylist_display' %}" class="btn btn-round info btn-b btn-block" style="font-size:120%;color:white;">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}