{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Sensor Admin List{% endblock %}
{% block content %}
<div class="padding">
    <div class="row">
        <div class="col-md-12">
            {% if 'okEditSensor' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="A sensor has been updated successfully !!">
                        </div>
                    </div>
                </div>
            {% elif 'okDeleteSensor' in request.GET %}
                <div class="box">
                    <div class="form-group row has-danger">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-danger" value="A sensor has been removed successfully !!">
                        </div>
                    </div>
                </div>
            {% elif 'okCreateSensor' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="A sensor has been created successfully !!">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h2><b style="color:#6887ff;">Sensor Admin Summary</b></h2>
                </div>
                <!--div class="row p-a">
                    <div class="col-sm-5">
                    <select class="input-sm form-control w-sm inline v-middle">
                        <option value="0">Bulk action</option>
                        <option value="1">Delete selected</option>
                        <option value="2">Bulk edit</option>
                        <option value="3">Export</option>
                    </select>
                    <button class="btn btn-sm white">Apply</button>                
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                        <button class="btn b-a white" type="button">Go!</button>
                        </span>
                    </div>
                    </div>
                </div-->
                <div class="table-responsive">
                    <table class="table table-striped b-t">
                        <thead>
                            <tr>
                                <th>Status</th>
                                {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                    <th>ID</th>
                                {% endif %}
                                <th>Alias</th>
                                <th>Owner Compt</th>
                                {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                    <th>Owner User</th>
                                {% endif %}
                                <th>Serial Code</th>
                                <th>Measurement Unit</th>
                                <th>Sensor Type</th>
                                {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and not request.user.is_staff %}
                                    <th>Sensor Brand</th>
                                {% endif %}
                                <th style="width:50px;"></th>
                                {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                    <th style="width:50px;"></th>
                                    <th style="width:50px;"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for sensor in sensor_list %}
                                <tr>
                                    {% if sensor.isEnabled %}
                                        <td><i class="fa fa-rss" style="color: #1aff1a"></i></td>
                                    {% else %}
                                        <td><i class="fa fa-rss" style="color: white"></i></td>
                                    {% endif %}
                                    {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                        <td>{{ sensor.id }}</td>
                                    {% endif %}
                                    <td>{{ sensor.alias }}</td>
                                    <td>{{ sensor.component }}</td>
                                    {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                        <td>{{ sensor.component.profile.user }}</td>
                                    {% endif %}
                                    <td>{{ sensor.serialCode }}</td>
                                    <td>{{ sensor.measurementUnit }}</td>
                                    <td>{{ sensor.sensorType }}</td>
                                    {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and not request.user.is_staff %}
                                        <td>{{sensor.brand}}</td>
                                    {% endif %}
                                    <td><a href="{% url 'iotmodule_sensordetail_display' sensor.id sensor.alias|slugify %}"><button class="btn btn-fw info">Details</button></a></td>
                                    {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                        <td><a href="{% url 'iotmodule_sensorupdate_display' sensor.id sensor.alias|slugify %}"><button class="btn btn-fw primary">Edit</button></a></td>
                                        <td><a href="{% url 'iotmodule_sensordelete_display' sensor.id %}"><button class="btn btn-fw danger">Delete</button></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <footer class="dker p-a">
                    <div class="row">
                        <!--div class="col-sm-4 hidden-xs">
                            <select class="input-sm form-control w-sm inline v-middle">
                            <option value="0">Bulk action</option>
                            <option value="1">Delete selected</option>
                            <option value="2">Bulk edit</option>
                            <option value="3">Export</option>
                            </select>
                            <button class="btn btn-sm white">Apply</button>                  
                        </div>
                        <div class="col-sm-6 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                        </div-->
                        {% if is_paginated %}
                            <div class="col-sm-12 text-center">
                                <ul class="pagination pagination-sm m-0 justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                                {% else %}
                                    <li><a href="#" tabindex="-1">&laquo;</a></li>
                                {% endif %}
                                {% for page in page_obj.paginator %}
                                    {% if page_obj.number == page.number %}
                                        <li class="active"><a href="?page={{ page.number }}">{{ page.number }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ page.number }}">{{ page.number }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
                                {% else %}
                                    <li><a href="#" tabindex="-1">&raquo;</a></li>
                                {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
{% endblock %}