{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Sensor Admin Creator{% endblock %}
{% block content %}  
<div class="padding">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h1><b style="color:#6887ff;">Creating sensor</b></h1>
                </div>
                <div class="box-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Formulario -->
                        <div class="form-group">
                            <div class="form-group row has-danger">
                                <div class="col-sm-12">
                                    <p style="color:#d9534f;"><b>Required fields:</b></p>
                                    {{ form.alias }}
                                    {{ form.alias.errors }}
                                    {{ form.serialCode }}
                                    {{ form.serialCode.errors }}
                                    **Use Version 4 UUID Generator <a href="https://www.uuidgenerator.net/version4" target="_blank" style="color: #3399ff;">click here to generate the Serial-Code</a>
                                    {{ form.sensorType }}
                                    {{ form.sensorType.errors }}
                                    **Select sensor type
                                    {{ form.component }}
                                    {{ form.component.errors }}
                                    **Select component owner
                                    {{ form.isEnabled }}
                                    {{ form.isEnabled.errors }}
                                    **Select sensor Enabled/Disabled status
                                </div>
                            </div>
                            <div class="form-group row has-warning">
                                <div class="col-sm-12">
                                    <p style="color:#f0ad4e;"><b>Optional field:</b></p>
                                    {{ form.measurementUnit }}
                                    {{ form.brand }}
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn info btn-block">Create Sensor</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}