{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="padding">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if 'okUserEmailUpdate' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="The Email has been updated successfully !!">
                        </div>
                    </div>
                </div>
            {% elif 'okEditProfile' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="Your Profile has been Edited successfully !!">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h2><b style="color:#6887ff;">Editing {{ profile.nickName }} profile</b></h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Previa del avatar -->
                        <div class="form-group text-center">
                            {% if profile.avatar %}
                                <img src="{{profile.avatar.url}}" class="img-fluid" style="border-radius: 10%;border: 3px solid #f0ad4e;" width="250" height="250">
                                <p class="mt-1" style="color:#f44455"><input type="checkbox" id="avatar-clear" name="avatar-clear" /> Select to delete</p>
                            {% else %}
                                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid" style="border-radius: 10%;border: 3px solid #f0ad4e;" width="250" height="250">
                            {% endif %}
                        </div>
                        <!-- Formulario -->
                        <div class="form-group">
                            <div class="form-group row has-success">
                                <div class="col-sm-12">
                                    <p style="color:#5cb85c;"><b>Blocked fields:</b></p>
                                    <input type="email" value="ID: {{profile.user.id}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                    <input type="email" value="Email: {{profile.user.email}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                    <input type="email" value="Nick Name: {{profile.nickName}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                    <input type="email" value="Rut: {{profile.rut}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                </div>
                            </div>
                            <div class="form-group row has-warning">
                                <div class="col-sm-12" style="color:#f0ad4e;">
                                    <p style="color:#f0ad4e;"><b>Editable fields:</b></p>
                                    {{ form.birthDate }}
                                    **Enter birthdate
                                    {{ form.birthDate.errors }}
                                    {{ form.gender }}
                                    **Enter gender or orientation
                                    {{ form.position }}
                                    **Enter office position
                                    {{ form.workPhone }}
                                    **Enter work phone
                                    {{ form.phone }}
                                    **Enter personal phone
                                    {{ form.nationality }}
                                    **Enter nationality or country
                                    <div class="col-md-12" style='color:#f0ad4e;'>
                                        <input type="file" name="avatar" class="col-md-12 form-control-file mt-3 btn" id="id_avatar" style='color:#ffffff;background: black;border: 1px solid #f0ad4e;'>
                                    </div>
                                    **Upload profile picture
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn info btn-block">Edit Profile</button>
                        </div>
                    </form>
                    <div class="form-group">
                        <br>
                        <div class="col-md-12">
                            <a href="{% url 'iotmodule_useremailupdate_display' profile.user.id profile.user.username|slugify 2|slugify %}" class="btn info btn-round btn-b btn-block" style="font-size:120%;color:white;">Update Email</a>
                        </div>
                        {% if request.user.id == profile.user.id %}
                            <br>
                            <div class="col-md-12">
                                <a href="{% url 'password_change' %}" class="btn btn-round info btn-b btn-block" style="font-size:120%;color:white;">Update Password</a>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <a href="{% url 'iotmodule_profiledeleteaux_display' request.user.profile.id 1|slugify %}" class="btn btn-round danger btn-b btn-block" style="font-size:120%;color:white;">Delete Profile</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}