{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Profile Admin List{% endblock %}
{% block content %}
<div class="padding">
    <div class="row">
        <div class="col-md-12">
            {% if 'okEditProfile' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="The profile has been updated successfully !!">
                        </div>
                    </div>
                </div>
            {% elif 'okDeleteProfile' in request.GET %}
                <div class="box">
                    <div class="form-group row has-danger">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-danger" value="The profile has been removed successfully !!">
                        </div>
                    </div>
                </div>
            {% elif 'okCreateProfile' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="The profile has been created successfully !!">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h2><b style="color:#6887ff;">Profile Admin Summary</b></h2>
                </div>
                <!--div class="row p-a">
                    <div class="col-sm-5">
                    <select class="input-sm form-control w-sm inline v-middle">
                        <option value="0">Bulk action</option>
                        <option value="1">Delete selected</option>
                        <option value="2">Bulk edit</option>
                        <option value="3">Export</option>
                    </select>
                    <button class="btn btn-sm white">Apply</button>                
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                        <button class="btn b-a white" type="button">Go!</button>
                        </span>
                    </div>
                    </div>
                </div-->
                <div class="table-responsive">
                    <table class="table table-striped b-t">
                        <thead>
                            <tr>
                                <th style="width:50px;"></th>
                                <th>User</th>
                                <th>Nick Name</th>
                                <th>Rut</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th>Position</th>
                                <th>Work Phone</th>
                                <th>Phone</th>
                                <th>Nationality</th>
                                <th>Updated</th>
                                <th>Created</th>
                                <th style="width:50px;"></th>
                                {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                    <th style="width:50px;"></th>
                                    <th style="width:50px;"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profile_list %}
                                <tr>
                                    {% if profile.avatar %}
                                        <td><img src="{{profile.avatar.url}}" class="img-circle" width="30" height="30"></td>
                                    {% else %}
                                        <td><img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-circle" width="30" height="30"></td>
                                    {% endif %}
                                    <td>{{ profile.user }}</td>
                                    <td>{{ profile.nickName }}</td>
                                    <td>{{ profile.rut }}</td>
                                    <td>{{ profile.birthDate }}</td>
                                    <td>{{ profile.gender }}</td>
                                    <td>{{ profile.position }}</td>
                                    <td>{{ profile.workPhone }}</td>
                                    <td>{{ profile.phone }}</td>
                                    <td>{{ profile.nationality }}</td>
                                    <td>{{ profile.updated.date }}</td>
                                    <td>{{ profile.created.date }}</td>
                                    <td><a href="{% url 'iotmodule_profiledetail_display' profile.id profile.nickName|slugify %}"><button class="btn btn-fw info">Details</button></a></td>
                                    {% if request.user.profile and request.user.profile.nickName and request.user.profile.rut and request.user.is_staff %}
                                        <td><a href="{% url 'iotmodule_profileupdate_display' profile.id profile.nickName|slugify %}"><button class="btn btn-fw primary">Edit</button></a></td>
                                        <td><a href="{% url 'iotmodule_profiledelete_display' profile.id %}"><button class="btn btn-fw danger">Delete</button></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--footer class="dker p-a">
                    <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select class="input-sm form-control w-sm inline v-middle">
                        <option value="0">Bulk action</option>
                        <option value="1">Delete selected</option>
                        <option value="2">Bulk edit</option>
                        <option value="3">Export</option>
                        </select>
                        <button class="btn btn-sm white">Apply</button>                  
                    </div>
                    <div class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">                
                        <ul class="pagination pagination-sm m-0">
                        <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    </div>
                </footer-->
            </div>
        </div>
    </div>
</div>
{% endblock %}