{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Profile Admin Editor{% endblock %}
{% block content %}
<div class="padding">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if 'okUserEmailUpdate' in request.GET %}
                <div class="box">
                    <div class="form-group row has-success">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-success" value="The Email has been updated successfully !!">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h2><b style="color:#6887ff;">Editing {{ profile.nickName }} profile</b></h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Previa del avatar -->
                        <div class="form-group text-center">
                            {% if profile.avatar %}
                                <img src="{{profile.avatar.url}}" class="img-fluid" style="border-radius: 10%;border: 3px solid #f0ad4e;" width="250" height="250">
                                <p class="mt-1">¿Delete? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                            {% else %}
                                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid" style="border-radius: 10%;border: 3px solid #f0ad4e;" width="250" height="250">
                            {% endif %}
                        </div>
                        <!-- Formulario -->
                        <div class="form-group">
                            <div class="form-group row has-success">
                                <div class="col-sm-12">
                                    <p style="color:#5cb85c;"><b>Non-editable fields:</b></p>
                                    <input type="email" value="ID: {{profile.user.id}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                    <input type="email" value="Email: {{profile.user.email}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                    <input type="email" value="Nick Name: {{profile.nickName}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                    <input type="email" value="Rut: {{profile.rut}}" class="form-control mt-3 form-control-success" readonly style="text-transform:none;color:#ffffff;background: black;">
                                </div>
                            </div>
                            <div class="form-group row has-warning">
                                <div class="col-sm-12">
                                    <p style="color:#f0ad4e;"><b>Editable fields:</b></p>
                                    {{ form.birthDate }}
                                    {{ form.birthDate.errors }}
                                    {{ form.gender }}
                                    {{ form.position }}
                                    {{ form.workPhone }}
                                    {{ form.phone }}
                                    {{ form.nationality }}
                                </div>
                            </div>
                            <div class="col-md-12" style='color:#f0ad4e;'>
                                Upload profile picture: <input type="file" name="avatar" class="col-md-12 form-control-file mt-3 btn info" id="id_avatar" style='color:#ffffff;background: black;border: 1px solid #f0ad4e;'>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn info btn-block">Edit Profile</button>
                        </div>
                    </form>
                    <div class="form-group">
                        <br>
                        <div class="col-md-12">
                            <a href="{% url 'iotmodule_useremailupdate_display' profile.user.id profile.user.username|slugify 1|slugify %}" class="btn info btn-round btn-b btn-block" style="font-size:120%;color:white;">Update Email</a>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <a href="{% url 'iotmodule_profilelist_display' %}" class="btn btn-round info btn-b btn-block" style="font-size:120%;color:white;">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}