{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Delete Profile{% endblock %}
{% block content %}
<div class="padding">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h2><b style="color:#6887ff;">Removing {{ profile.nickName }} profile</b></h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-12 form-control-label" style="text-align: center;">
                                Are you sure you want to delete the <span class="color-golden">"{{ profile.nickName }}"</span> profile ?
                            </label>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn danger btn-block">Remove Profile</button>
                        </div>
                    </form>
                    <div class="form-group">
                        <br>
                        <div class="col-md-12">
                            {% if view.kwargs.flag == '1' %}
                                <a href="{% url 'iotmodule_profileupdateaux_display' request.user.profile.id request.user.profile.nickName|slugify %}" class="btn info btn-round btn-b btn-block" style="font-size:120%;color:white;">Return</a>
                            {% elif view.kwargs.flag == '2' %}
                                <a href="{% url 'iotmodule_profilelist_display' %}" class="btn info btn-round btn-b btn-block" style="font-size:120%;color:white;">Return</a>
                            {% else %}
                                <a href="{% url 'iotmodule_profileupdateaux_display' request.user.profile.id request.user.profile.nickName|slugify %}" class="btn info btn-round btn-b btn-block" style="font-size:120%;color:white;">Return</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}