{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Profile Admin Creator{% endblock %}
{% block content %}  
<div class="padding">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box">
                <div class="box-header" style="text-align: center;">
                    <h1><b style="color:#6887ff;">Creating profile</b></h1>
                </div>
                <div class="box-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Formulario -->
                        <div class="form-group">
                            <div class="form-group row has-danger">
                                <div class="col-sm-12">
                                    <p style="color:#d9534f;"><b>Required fields (First select the User):</b></p>
                                    {{ form.user }}
                                    {{ form.user.errors }}
                                    {{ form.nickName }}
                                    {{ form.nickName.errors }}
                                    {{ form.rut }}
                                    {{ form.rut.errors }}
                                </div>
                            </div>
                            <div class="form-group row has-warning">
                                <div class="col-sm-12">
                                    <p style="color:#f0ad4e;"><b>Optional fields:</b></p>
                                    {{ form.birthDate }}
                                    {{ form.birthDate.errors }}
                                    {{ form.gender }}
                                    {{ form.position }}
                                    {{ form.workPhone }}
                                    {{ form.phone }}
                                    {{ form.nationality }}
                                </div>
                            </div>
                            <div class="col-md-12" style='color:#f0ad4e;'>
                                Upload profile picture: <input type="file" name="avatar" class="col-md-12 form-control-file mt-3 btn info" id="id_avatar" style='color:#ffffff;background: black;border: 1px solid #f0ad4e;'>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn info btn-block">Create Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}