{% extends 'core/base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Services -->
<hr class="divider-w">
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for service in service_list %}
                    <div class="post">
                        <div class="post-header font-alt" style="background-color: rgba(0, 0, 0, 0.94);border: 5px double white;padding: 5px 5px 5px 5px;">
                            <h1 style="text-align:center;text-transform:none;">{{service.title}}</h1>
                            <div class="post-meta">
                                <h2 style="text-align:center;text-transform:none;font-size:200%;">{{service.subtitle}}</h2>
                            </div>
                        </div>
                        {% comment %} {% if not service.image1 and not service.image2 and not service.image3 and not service.link %}
                            <div class="post-thumbnail">
                                <img src="{% static 'core/assets/images/service_default_bg.jpg' %}" alt="Blog-post Thumbnail"/>
                            </div>
                        {% elif not service.image1 and not service.image2 and not service.image3 and service.link %}
                            <div class="post-video embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{service.link}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        {% elif service.image1 or service.image2 or service.image3 %}
                            {% if service.link %}
                                <div class="post-images-slider">
                                    <ul class="slides">
                                        {% if service.image1 %}
                                            <li><img src="{{service.image1.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image2 %}
                                            <li><img src="{{service.image2.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image3 %}
                                            <li><img src="{{service.image3.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="post-video embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{service.link}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                </div>
                            {% else %}
                                <div class="post-images-slider">
                                    <ul class="slides">
                                        {% if service.image1 %}
                                            <li><img src="{{service.image1.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image2 %}
                                            <li><img src="{{service.image2.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image3 %}    
                                            <li><img src="{{service.image3.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %} {% endcomment %}
                        <div class="post-entry">
                            <p>{{service.content|safe}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">
<!-- Employers -->
{% if hidd %}
    <section class="module bg-light" style="background: #000000;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt" style="color:white;text-transform:none;">My employers</h2>
                    <div class="module-subtitle font-serif" style="color:white">
                        “Observa, escucha y aprende. No puedes saberlo todo. Todo el que piensa que lo sabe todo está destinado a la mediocridad”<br> - Donald Trump, presidente de The Trump Organization.
                    </div>
                </div>
            </div>
            <div class="row client">
                <div class="owl-carousel text-center" data-items="{{employer_amount}}" data-pagination="true" data-navigation="false">
                    {% for employer in employer_list %}
                        {% if employer_amount == 1 %}
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="client-logo">
                                    <img src="{{employer.logoimage.url}}" alt="{{employer.name}}"/>
                                </div>
                                <br>
                                <p style="font-size:13px;color:white">{{employer.name}}</p>
                            </div>
                        {% else %}
                            <div class="owl-item">
                                <div class="col-sm-12">
                                    <div class="client-logo">
                                        <img src="{{employer.logoimage.url}}" alt="{{employer.name}}"/>
                                    </div>
                                    <br>
                                    <p style="font-size:13px;color:white">{{employer.name}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-d">
{% endif %}
{% endblock %}