{% extends 'core/base.html' %}
{% load static %}
{% block title %}Services{% endblock %}
{% block content %}
<!-- Services -->
<hr class="divider-w">
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for service in service_list %}
                    <div class="post">
                        <div class="post-header font-alt" style="background-color: rgba(0, 0, 0, 0.94);border: 5px double white;padding: 5px 5px 5px 5px;">
                            <h1 style="text-align:center;text-transform:none;">{{service.title}}</h1>
                            <div class="post-meta">
                                <h2 style="text-align:center;text-transform:none;font-size:200%;">{{service.subtitle}}</h2>
                            </div>
                        </div>    
                        <!-- Metadata Section -->
                        <div class="post-meta" style="text-align:center;text-transform:none;font-size: 13px;">
                            {% if service.tag %}
                                Tag: <a class="tags font-serif" href="#" rel="tag">{{service.tag}}</a> |
                            {% endif %}
                            {% if service.order %}
                                N° Order: {{service.order}} |
                            {% endif %}
                            {% if service.link %}
                                Referential Link: <a href="{{service.link}}" target="_blank">{{service.link}}</a> |
                            {% endif %}
                            {% if service.created %}
                                Publication Date: {{service.created}}
                            {% endif %}
                        </div>
                        <!-- Summary Section -->
                        {% if service.summary %}
                            <div class="post-entry">
                                <h2 class="post-title" style="text-align:center;text-transform:none;">Summary</h2>
                                <p>{{service.summary|safe}}</p>
                            </div>
                        {% endif %}
                        <!-- Images Section -->
                        {% if service.image.all %}
                            {% if service.image.all.count == 1 %}
                                <div class="post-entry">
                                    <div class="post-images-slider">
                                        <ul class="slides">
                                            {% for service_image in service.image.all %}
                                                <li><img src="{{service_image.uploadlink.url}}" alt="{{service_image.name}}"/></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <div class="post-entry">
                                    <div class="row multi-columns-row">
                                        {% for service_image in service.image.all %}
                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                <div class="gallery-item">
                                                    <div class="gallery-image">
                                                        <a class="gallery" href="{{service_image.uploadlink.url}}" title="{{service_image.name}}">
                                                            <img src="{{service_image.uploadlink.url}}" alt="{{service_image.name}}"/>
                                                            <div class="gallery-caption">
                                                                <div class="gallery-icon">
                                                                    <span class="icon-magnifying-glass"></span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="post-entry">
                                <div class="post-thumbnail">
                                    <img src="{% static 'core/assets/images/service_default_bg.jpg' %}" alt="Blog-post Thumbnail"/>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Videos Section -->
                        {% if service.video.all %}
                            {% if service.video.all.count == 1 %}
                                {% for service_video in service.video.all %}
                                    <div class="post-entry">
                                        <div class="post-video embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="{{service_video.link}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="post-entry">
                                    <div class="row multi-columns-row">
                                        {% for service_video in service.video.all %}
                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                <div class="gallery-item">
                                                    <div class="post-video embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item" src="{{service_video.link}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <!-- Content Section -->
                        {% if service.content %}
                            <div class="post-entry">
                                <p>{{service.content|safe}}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">
<!-- Employers -->
{% if hidd %}
    <section class="module bg-light" style="background: #000000;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt" style="color:white;text-transform:none;">Employers</h2>
                </div>
            </div>
            <div class="row client">
                <div class="owl-carousel text-center" data-items="{{employer_amount}}" data-pagination="true" data-navigation="false">
                    {% for employer in employer_list %}
                        {% if employer_amount == 1 %}
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="client-logo">
                                    <img src="{{employer.logoimage.url}}" alt="{{employer.name}}"/>
                                </div>
                                <br>
                                <p style="font-size:13px;color:white">{{employer.name}}</p>
                            </div>
                        {% else %}
                            <div class="owl-item">
                                <div class="col-sm-12">
                                    <div class="client-logo">
                                        <img src="{{employer.logoimage.url}}" alt="{{employer.name}}"/>
                                    </div>
                                    <br>
                                    <p style="font-size:13px;color:white">{{employer.name}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-d">
{% endif %}
{% endblock %}