{% extends 'iot_module/includes/iotmodule_login_menu.html' %}
{% load static %}
{% block title %}Enter the new password{% endblock %}
{% block content %}
  <style>.errorlist{color:red;}</style>
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="{% static 'celery_tasks/celerytasks_menu/views/blocks/navbar.brand.html' %}"></div>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b">
        Enter the new password
      </div>
      {% if validlink %}
        <form action="" name="reset" method="post">{% csrf_token %}
          <p class="text-xs m-t" style="text-align: justify;">Please enter your new password twice to verify that you have entered it correctly.</p>
          <div class="md-form-group">
            <input type="password" name="new_password1" id="id_new_password1" class="md-input" placeholder="Enter the new password" style="text-transform:none" required>
            {{form.new_password1.errors}}
            <input type="password" name="new_password2" id="id_new_password2" class="md-input" placeholder="Repeat the new password" style="text-transform:none" required>
            {{form.new_password2.errors}}
          </div>
          <button type="submit" class="btn primary btn-block p-x-md">Restore password</button>
        </form>
      {% else %}
        <p class="text-xs m-t"><b>Password reset failed</b></p>
        <p class="text-xs m-t" style="text-align: justify;">The password reset link was invalid, probably because it was used before. Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.</p>
      {% endif %}
    </div>    
  </div>
{% endblock %}