{% extends 'iot_module/includes/iotmodule_menu.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="padding">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="box">
        <div class="box-header" style="text-align: center;">
          <h2><b style="color:#6887ff;">Update Password</b></h2>
        </div>
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group text-center" style="font-size:140%;">
              <p>Do you want to update your password? Please enter your old password for security, and then enter the new password twice to verify that you have entered it correctly.</p>
              {{form.old_password.errors}}
              <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Old password" style="text-transform:none"></p>
              {{form.new_password1.errors}}
              <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password" style="text-transform:none"></p>
              {{form.new_password2.errors}}
              <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="New password (confirmation)" style="text-transform:none"></p>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn info btn-block">Update Password</button>
            </div>
          </form>
          <div class="form-group">
            <br>
            <div class="col-md-12">
              <a href="{% url 'iotmodule_profileupdateaux_display' user.profile.id user.profile.nickName|slugify %}" class="btn info btn-round btn-b btn-block" style="font-size:120%;color:white;">Return</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}