{% extends 'iot_module/includes/iotmodule_login_menu.html' %}
{% load static %}
{% block title %}Password reset sent{% endblock %}
{% block content %}
  <style>.errorlist{color:red;}</style>
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="{% static 'celery_tasks/celerytasks_menu/views/blocks/navbar.brand.html' %}"></div>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b">
        Password reset sent
        <p class="text-xs m-t" style="text-align: justify;">We have sent you the instructions to reset your password by email, if there is an account with the email address you indicated, you should receive them shortly.</p>
        <p class="text-xs m-t" style="text-align: justify;">If you don't receive an email, please make sure you have entered the email address you registered with and check your spam.</p>
      </div>
      <a ui-sref="access.forgot-password" href="{% url 'home' %}" class="btn b-primary btn-block p-x-md" style="color:#0cc2aa">Return to Home</a>
      <a ui-sref="access.forgot-password" href="{% url 'login' %}" class="btn b-primary btn-block p-x-md" style="color:#0cc2aa">Return to Sign in</a>
    </div>  
  </div>
{% endblock %}