{% extends 'iot_module/includes/iotmodule_login_menu.html' %}
{% load static %}
{% block title %}Password reset completed{% endblock %}
{% block content %}
  <style>.errorlist{color:red;}</style>
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="{% static 'celery_tasks/celerytasks_menu/views/blocks/navbar.brand.html' %}"></div>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b">
        Password reset completed
        <p class="text-xs m-t" style="text-align: justify;">Your password has been reset, you can now go ahead and Sign in.</p>
      </div>
      <a ui-sref="access.forgot-password" href="{% url 'login' %}" class="btn b-primary btn-block p-x-md" style="color:#0cc2aa">Sign in</a>
    </div>  
  </div>
{% endblock %}